<article class="fullwidth" id='tour'>
	<h1 id="title">&nbsp;</h1>
	<div id='main-wrap'>
	<div class="handle p	rev" id='prevSlide'>&lt;</div>
		<div class="view">
			<div id="image-wrap">
				<%= image_tag "misc/clear.gif", id: "image", display: 'none' %>
			</div>
		</div>
		<div class="handle next" id="nextSlide">&gt;</div>
	</div>
	<div id="text-wrap"><div id="text">
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div></div>
</article>

<div class='center'>
	<%= render 'shared/ads/banner', type: :image %>
</div>

<%= javascript_tag 'jQuery.fx.interval = 1;' %>

<% if false %>
<script>
	var images = [];
	for (s in tourSlides)
		images.push('/assets/' + locale + '/tour/' + tourSlides[s] + '.png');
	preloadImages(images);

	jQuery.fx.interval = 1;
	window.onload = function() { updateSlide(false); };
</script>
<% end %>