@mixin button-colors($background, $text, $shadow)
{
	background: $background;
	box-shadow: 0px 0px 5px rgba($shadow, 0.5);
	
	color: rgba($text, 0.8);
	
	img
	{
		border-right: 1px solid rgba(darken($background, 10%), 0.5);
	}
	
	&:hover
	{
		background: darken($background, 10%);
		color: rgba($text, 0.9);
	}
	
	h2 { color: rgba($text, 0.9); }
	p { color: rgba($text, 0.5); }
}