<p class='stats'>Found 123 results across <%=@search.sources.length%> places in <%=@results[:benchmark].real.round(2)%> seconds.</p>
<ul id='result-list'>
	
	<% if @results.key? :exact %>
		<% o = @results[:exact] %>
		<% c = o.class.to_s.tableize %>
		<%= render(partial: "#{c}/large", object: o, as: c.singularize.to_sym) %>
	<% end %>
	
	<% hits = @results[:hits] %>
	<%= render(hits) || "No results found" %>
</ul>

<script>
// TODO: can someone please help me move this into search.js.coffee?
$("[data-type='hit'] img").load(function() { resizeImage($(this), 64); });
$(".exact img").load(function() { resizeImage($(this), 120); });
</script>