$('#search-loading .loading').hide();
$('#search-results').html('');

<% if @results[:hits].length > 0 %>
	<% @results[:hits].each do |hit| %>
		$("<%= escape_javascript(render hit) %>").appendTo('#search-results');
	<% end %>
	
<% else %>
	$('#search-results').html("<li class='alert'>No results found</li>");
<% end %>