<ul class='grid'>
	<% if @alltime and @alltime.length > 0 %>
		<%= render partial: 'songs/song', collection: @alltime, locals: { deleteble: true } %>
	<% else %>
		<li data-empty='songs'><%= t 'listens.empty.alltime' %></li>
	<% end %>
</ul>