<ul class='grid'>
	<% if @weekly and @weekly.length > 0 %>
		<%= render partial: 'songs/song', collection: @weekly %>
	<% else %>
		<li data-empty='songs'><%= t 'listens.empty.weekly' %></li>
	<% end %>
</ul>