<div id="login-links">

	<%- if devise_mapping.recoverable? && controller_name != "passwords" %>
	  <%= link_to t("pages.users.passwords.new.link"), forgot_path, :class => "devise-link" %>
	<% end %>

	<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
	  <%= link_to t("pages.users.unlocks.link"), unlock_path, :class => "devise-link" %>
	<% end %>
</div>