html
{
	-webkit-text-size-adjust: 100%;
	line-height: normal;
	word-break: break-all;
}

body
{
	margin: 0;
	position: relative;
	font-family: verdana, sans-serif;
	padding-top: 2em;
	padding-bottom: 12em;
	@media #{$small} { padding-bottom: 0; }
	
	&::after
	{
		clear: both;
	}
}

h1, h2
{
	margin: 0.8em 0 0.5em 0;
}

h1
{
	font-size: 1.5em;
}

h2
{
	font-size: 1.1em;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 1em;
}

p
{
	margin-bottom: 1em;
}

a
{
	text-decoration: none;
	transition: all 500ms;
}

b { font-weight: bold; }

span
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

code
{
	font-family: monospace;
	font-size: 1.3em;
}

img
{
	transition: border 1500ms;
	transition: opacity 500ms;
}

strong { font-weight: bold; }

dl
{
	dt
	{
		font-weight: bold;
		margin-top: 1.5em;
		margin-bottom: 0.2em;
		&:not(:first-child) { margin-top: 2em; }
	}
	
	dd
	{
		margin: 1em 0;
	}
}

ul li img
{
	vertical-align: middle;
	margin-bottom: 2px;
}