html
{
	-webkit-text-size-adjust: 100%;
}

body
{
	margin: 0;
	position: relative;
	font-family: verdana, sans-serif;
	padding-top: 2em;
	margin-bottom: 12em;
	@media #{$small} { margin-bottom: 0; }
	
	&::after
	{
		clear: both;
	}
}

h1, h2
{
	margin: 0.8em 0 0.5em 0;
}

h1
{
	font-size: 1.5em;
}

h2
{
	font-size: 1.1em;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 1em;
}

p
{
	margin-bottom: 1em;
}

a
{
	text-decoration: none;
	transition: all 500ms;
}

img
{
	transition: border 1500ms;
	transition: opacity 500ms;
}

strong { font-weight: bold; }

dl
{
	dt
	{
		font-weight: bold;
		margin-top: 1.5em;
		margin-bottom: 0.2em;
	}
	
	dd:not(:last-child)
	{
		margin-bottom: 1em;
	}
}