$tiny: "screen and (max-width: 500px)";
$small: "screen and (max-width: 768px)";
$medium: "screen and (max-width: 992px)";
$no-banners: "screen and (max-width: 1075px)";
$large: "screen and (max-width: 1200px)";
$huge: "screen and (max-width: 1600px)";