$tiny: "screen and (max-width: 500px)";
$small: "screen and (max-width: 768px)";
$medium: "screen and (max-width: 992px)";
$no-banners: "screen and (max-width: 1075px)";
$large: "screen and (max-width: 1200px)";
$huge: "screen and (max-width: 1600px)";

$above-tiny: "screen and (min-width: 501px)";
$above-small: "screen and (min-width: 769px)";
$above-medium: "screen and (min-width: 993px)";
$banners: "screen and (min-width: 1076px)";
$above-large: "screen and (min-width: 1201px)";
$above-huge: "screen and (min-width: 1601px)";