.clear
{
	clear: both;
}

.divider
{
	margin: 0 1em 2em;
}

.message
{
	font-size: 1.2em;
	display: inline-block;
	width: 60%;
	margin: 2em 0;
	line-height: 1.5em;
}

.center { text-align: center; }
.inline { display: inline-block; }

h2.line-behind {
    display: table;
    white-space: nowrap;
    &:before, &:after {
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}