footer
{
	clear: both;
	text-transform: lowercase;
	padding: 1em 0 0;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: -12em;
	height: 11em;
	
	@media #{$small}
	{
		border: none;
		box-shadow: none;
		margin-bottom: initial;
		height: initial;
		position: initial;
	}
	
	a:hover { text-decoration: none; }
	
	.copyright
	{
		margin: 0;
		padding: 2em;
		letter-spacing: 0.8em;
		
		@media #{$small}
		{
			font-size: 0.7em;
			letter-spacing: 0.8em;
		}
	}
	
	nav
	{
		letter-spacing: 0.1em;
		@media #{$small} { text-transform: uppercase; }
		
		a
		{
			padding: 1em;
			
			@media #{$small}
			{
				padding: 1em 0;
				display: block;
				margin: 2em auto;
				width: 80%;
				overflow: hidden;
				font-size: 0.9em;
				text-transform: uppercase;
				letter-spacing: 0.5em;
			}
		}
	}
	
	#languages
	{
		li
		{
			display: inline-block;
			padding: 2em 0.5em;
		}
	}
}