main
{
	font-size: 0.8em;
	article
	{
		section
		{
			margin-bottom: 2em;
			.timestamp
			{
				margin-top: 1em;
				display: block;
				font-size: 0.8em;
			}
		}
	}
	
	&.centered
	{
		margin: auto;
		float: initial;
		
		a.right
		{
			display: block;
			text-align: right;
			padding: 0 1em;
		}
	}
	
	@media #{$small} { margin-bottom: -1px; }
}