header
{
	text-align: center;
	text-transform: lowercase;
	text-rendering: optimizeLegibility;
	@include prefix('font-smoothing', 'antialiased');
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	
	nav
	{
		display: inline-block;
		
		.separator
		{
			display: inline-block;
			width: 0px;
			margin: 0px 0.5em;
			@media #{$small} { display: none; }
		}
		
		.active { img { opacity: 1; } }
		
		a
		{
			text-decoration: none;
			transition: background 0.3s;
			display: inline-block;
			padding: 0.5em;
			img
			{
				transition: opacity 0.3s;
			}
			&:hover
			{
				text-decoration: none;
				img { opacity: 1; }
			}
			
			@media #{$medium}
			{
				padding: 0.8em 0.5em;
				font-size: 0.8em;
			}
		}
		
		.auth
		{
			padding: 0.5em 0.2em;
			min-width: 1em;
			@media #{$small} { display: none; }
		}
		
		img { margin-bottom: -3px; opacity: 0.8; }
		
		.logo
		{
			margin-top: -5px;
			vertical-align: middle;
		}
		
		[data-type='bonus']
		{
			@media #{$tiny} { display: none; }
		}
	}
}