aside.sidebar
{
	font-size: 0.8em;
	section
	{
		border-radius: 3px;
		padding: 0.5em 1em;
		
		h2
		{
			letter-spacing: 2px;
			font-size: 1em;
			text-transform: uppercase;
			margin: 0;
			text-align: center;
			font-style: normal;
		}
	}
}

article aside
{
	section
	{
		h2
		{
			font-size: 1.1em;
		}
		
		img.featured
		{
			width: 100%;
		}
	}
}