aside.sidebar
{
	float: left;
	width: 30%;
	max-width: 27em;
	font-size: 0.8em;
	
	@media #{$medium} { display: none; }
	
	section
	{
		margin: 1em 2.5em 1em 1.5em;
		border-radius: 3px;
		padding: 0.5em 1em;
		
		@media #{$large} { margin: 1em 1.5em 1em 0.5em; }
		
		h2
		{
			letter-spacing: 2px;
			font-size: 1em;
			text-transform: uppercase;
			margin: 0;
			text-align: center;
			font-style: normal;
		}
	}
}

main article aside
{
	float: left;
	width: 30%;
	@media #{$small} { width: 100%; }
			
	section
	{
		width: 100%;
		word-wrap: break-word;
		
		h2
		{
			font-size: 1.1em;
		}
		
		img.featured
		{
			width: 100%;
		}
	}
}


section[data-type='bonus']
{
	@media #{$small} { display: none; }
}