form
{
	label { color: rgba($text, 0.5); }
	
	div.field input[type=email], input[type=password], input[type=text], textarea
	{
		border: none;
		outline: none;
		border-bottom: 1px dashed rgba($text,0.5);	
	}
}