ul.list, ul.grid 
{
	[data-list-empty] { color: rgba($text,0.3); }
}

ul.grid
{
	li.item
	{
		box-shadow: 0px 0px 10px transparentize($shadow, 0.5);
		.overlay, .action-bar
		{
			color: $shadow_text;
			a { color: $shadow_text; }
		}
		
		.overlay
		{
			background: linear-gradient(rgba($shadow,0), rgba($shadow, 0.7));
			.title { text-shadow: 1px 1px 1px $shadow; }
		}
		
		.action-bar
		{
			background: linear-gradient(rgba($shadow, 0.7), rgba($shadow,0));
		}
	}
}

ul.list
{
	li.item
	{
		.overlay, .action-bar
		{
			a { color: $text; }
			.action.shadow.dropdown .dropdown-menu a { color: $shadow_text; }
		}
		
		img
		{
			box-shadow: 0 0 10px rgba($shadow, 0.5);
		}
		
		&:hover { background: rgba($shadow, 0.1); }
	}
}

// TODO: specify in palette
[data-type='artist'] { background: rgba(0,0,255, 0.8); color: white; }
[data-type='album'] { background: rgba(0,150,0, 0.8); color: white; }
[data-type='song'] { background: rgba(255,0,0, 0.8); color: white; }
[data-type='genre'] { background: rgba(100,100,100, 0.8); color: white; }
[data-type='event'] { background: rgba(255,0,255, 0.8); color: white; }
[data-type='playlist'] { background: rgba(0,255,255, 0.8); color: black; }
[data-type='user'] { background: rgba(255,255,0, 0.8); color: black; }
[data-type='device'] { background: rgba(255,165,0, 0.8); color: black; }