#paginator
{
	color: rgba($primary, 0.3);
	.pagination
	{
		border: 1px solid $primary;
		span.page, span.prev, span.first, span.next, span.last
		{
			border-left: 1px solid $primary;
		}
		span.prev { border-left: none; }
		span
		{
			a
			{
				color: $primary;
			}
		}
	}	
}