ul.vertical
{
	padding: 0.6em 0;
	li
	{
		padding: 0.5em;
		
		&[data-message="empty"]
		{
			display: none;
		}
		
		a
		{
			text-decoration: none;
			
			img
			{
				vertical-align: top;
				margin-top: -0.2em;
			}
		}
	}
}