#credits
{
	h1
	{
		text-align: center;
		font-size: 1.8em;
	}
	
	.small
	{
		margin-top: 8px;
		div
		{
			padding: 1.5em 0 1.5em;
			display: inline-block;
			width: 24%;
			vertical-align: top;
			
			h2
			{
				margin: 0 2em 0.1em 0;
				font-style: italic;
				font-size: 1.2em;
				
				@media #{$medium}
				{
					font-size: 1.1em;
				}
			}
			
			p
			{
				margin: 0 2em 0 0;
				font-weight:normal;
			}
			
			@media #{$small}
			{
				width: 49%;
				
				&:nth-child(even)
				{
					text-align: right;
				}
				h2 { margin: 0 1em 0.1em 1em; }
				p { margin: 0 1em 0; }
			}
		}
	}
}