#future
{
	width: 47.5%;
	float: right;
	
	@media #{$large}
	{
		width: initial;
		float: initial;
	}
	
	h1
	{
		text-align: center;
		font-size: 1.8em;
	}
	
	ul li
	{
		display: inline-block;
		width: 24%;
		font-style: italic;
		font-size: 1.2em;
		margin: 1em 0;
		
		p { margin: 0 1em; }
		
		@media #{$small}
		{
			font-size: 1.1em;
			width: 49%;
			
			&:nth-child(even)
			{
				text-align: right;
			}
		}
	}
}