#highlights
{
	padding: 0 1.5em 1em;
	
	section
	{
		padding: 0;
		margin: 0;
	}
	.ad
	{
		text-align: center;
		padding: 0.5em;
		@media #{$medium}
		{
			display: none;
		}
	}
	
	.large
	{
		margin: 0;
		position: relative;
		padding-bottom: 4em;
		
		#donate, #latest, #donate-button, #latest-button
		{
			display: inline-block;
			vertical-align: top;
			padding: 1em 0 0;
		}
		
		#donate-button, #latest-button { position: absolute; }
		
		#donate, #donate-button { width: 30%; }
		#latest, #latest-button { width: 70%; }
		
		#donate        { top: 0; left: 0; }
		#donate-button { bottom: 1em; left: 0; }
		#latest        { top: 0; right: 0; }
		#latest-button { bottom: 1em; right: 0; }
		
		#latest, #latest-button
		{
			margin-left: -0.4em;
			margin-right: -1em;
			padding-left: 1em;
		}
		
		a.button
		{
			margin: 0;
		}
		
		@media #{$small}
		{
			#donate-button, #latest-button { position: initial; }
			#donate, #latest, #donate-button, #latest-button
			{
				width: 100%;
			}
			#latest, #latest-button
			{
				margin-left: 0;
				margin-right: 0;
				padding-left: 0;
			}
		}
	}
	
	.small
	{
		margin-top: 8px;
		div
		{
			padding: 2em 0 1em;
			display: inline-block;
			width: 24%;
			vertical-align: top;
			
			@media #{$small} { width: 49%; }
			
			h2
			{
				margin: 0 2em 0.1em 0;
				font-style: italic;
				font-size: 1.7em;
				
				@media #{$medium}
				{
					font-size: 1.4em;
				}
			}
			
			p
			{
				margin: 0 2em 0 0;
				font-weight:normal;
			}
		}
	}
}