ul.list .item .album-back
{
	width: 64px;
	height: 56px;
	background-size: cover;
	
	img
	{
		box-shadow: none;
		width: 55px;
		height: 54px;
		left: 7px;
		top: 1px;
		position: absolute;
	}
	
	.album-front
	{
		width: 64px;
		height: 56px;
		position: absolute;
		background-size: cover;
	}
}

#edit-album
{
	min-width: 25em;
	
	#search-results { text-align: left; }
}