#auth-buttons
{
	text-align: center;
	margin: 2em 0 3em;
	a { padding: 0.5em; }
}

#login-links
{
	text-align: right;
	margin: 2em 0 0;
	@media #{$small} { margin: 2em 0 0.5em; }
	a
	{
		display: block;
		margin: 0.5em 0;
		@media #{$small} { margin: 1.5em 0 0; }
	}
}

#crack-time
{
	font-size: 0.8em;
	margin-top: -1em;
	
	#crack-time-img
	{
		margin-bottom: -0.1em;
	}
}