#search
{
	text-align: center;
	min-height: 60em;
	
	.tabs
	{
		@media #{$small}
		{
			display: block;
			[data-tab='genres'] { display: none; }
			[data-tab='events'] { display: none; }
		}
		
		@media #{$tiny}
		{
			[data-tab='playlists'] { display: none; }
		}
	}
	
    .large-logo
    {
        margin: 3em auto;
		display: block;
    }

	.small-logo
	{
		vertical-align: middle;
	}

	#form
	{
		margin: 0;
		#query
		{
			width: 30em;
			padding: .3em .2em;
			font-size: 1.5em;
			
			&.small
			{
				margin: 0 .5em;
				font-size: 1.3em;
			
				@media #{$small}
				{
					width: 20em;
					font-size: 1.2em;
				}
			}
		}
	}
	
	.loading
	{
		margin: 5em auto;
	}
	
	#alert
	{
		display: inline-block;
		text-align: left;
	}
	
	.skyscraper.ad
	{
		position: absolute;
		top: 10em;
		right: 3em;
		@media #{$no-banners} { display: none; }
	}
	
	.banner.ad
	{
		margin: 10em 0;
	}
	
	#results
	{
		margin: 0 3em 3em;
		text-align: left;
		
		.stats
		{
			margin: 0 auto 2em;
			opacity: .5;
			font-size: .9em;
			text-align: center;
		}
		
		.no-results
		{
			text-align: center;
			font-size: 1.5em;
			font-weight: bold;
			margin-top: 5em;
		}
		
		#result-list
		{
			margin-right: 220px;
			@media #{$no-banners} { margin-right: 0; }
		}
	}
}