#tour
{
	text-align: center;
	padding: 1em;
	margin-bottom: 3em;
	
	.handle
	{
		font-size: 10em;
		display: inline-block;
		cursor: pointer;
		text-align: center;
		width: 10%;
		vertical-align: middle;
		font-family: 'dorsa', Helvetica, Arial, sans-serif;
	}
	
	#title
	{
		padding: 0 0 1em;
		margin: 0;
		font-size: 2.5em;
		@media #{$medium} { font-size: 2em; }
		@media #{$small} { font-size: 1.5em; }
	}
	
	.view
	{
		width: 75%;
		vertical-align: top;
		display: inline-block;
		margin-bottom: 2em;
		
		#image-wrap
		{
			margin: 0px auto;
			padding: 0;
			line-height: 300px;
			img
			{
				vertical-align: middle;
				width: 100%;
			}
		}
	}
	
	#text-wrap
	{
		margin: 0 2em;
		padding: 1em 0 0 0;
		font-style: italic;
		font-size: 1.5em;
		@media #{$medium} { font-size: 1.3em; }
		@media #{$small} { font-size: 1em; }
	}
}