<article>
	
	<aside>
		<section data-type='bonus'>
			<%= render 'shared/ads/skyscraper' %>
		</section>
	</aside>
	
	<section>
		<h1><%= t 'pages.devices.index.title' %></h1>
		<%= render partial: 'shared/lists/list', locals: {
			collection: @devices, resource: 'devices'
		} %>
	</section>
	
</article>