<div id="main">
	<div class="white box">
		<h2>Your top artists this week</h2>
		<p>Lorem ipsum</p>
		<h2>Your top artists all time</h2>
		<p>Lorem ipsum</p>
		<h2>Top artists this week on Stoffi</h2>
		<p>Lorem ipsum</p>
		<h2>Top artists all time on Stoffi</h2>
		<p>Lorem ipsum</p>
		<h2>Top artists this week on Internet</h2>
		<p>Lorem ipsum</p>
		<h2>Top artists all time on Internet</h2>
		<p>Lorem ipsum</p>
	</div>
</div>

<%= render "sidebars/music" %>