<li class='item' data-list-add='<%= send "new_#{resource.singularize}_path" %>'>
	<%= image_tag 'gfx/icons/256/add.png' %>
	<div class='overlay'>
		<span class='title' data-field='name'><%=t "pages.#{resource}.new.link" %></span>
	</div>
</li>