<html>
	
	<%= render 'shared/headers' %>
	
	<body>
		
		<%= render 'shared/navigation' %>
		
		<main class='fullwidth'>
			<%= yield %>
		</main>
		
		<%= render 'shared/footer' %>
		
	</body>
</html>