<% if user_signed_in? %>
	<span class='shadow dropdown add action'>
		<%= link_to '', title: t('playlists.add.description') do %>
			<span data-list-mode='list'><%= t 'playlists.add.menu' %> ▾</span>
			<span data-list-mode='grid'>+</span>
		<% end %>
		<ul class='dropdown-menu'>
			<% current_user.playlists.each do |playlist| %>
				<li>
					<%= link_to playlist, '', title: t('playlists.add.link', playlist: playlist),
						data: { add_to_resource: :playlist, add_to_id: playlist.id } %>
				</li>
			<% end %>
		</ul>	
	</span>
<% end %>