<section id='edit-playlist' data-playlist-id='<%= @playlist.id %>'>
	<%= form_tag search_url(categories: :songs, limit: 5), method: :get, remote: true, data: {
		loading: 'search-loading'
	} do %>
		<div class='field'>
			<%= text_field_tag :query, nil, autofocus: true, placeholder: t('search.placeholder.songs') %>
		</div>
	<% end %>
	
	<div id='search-loading'>
		<%= render 'shared/widgets/loading' %>
	</div>
	<ul id='search-results' class='mini list' data-href-stop></ul>
</section>