$primary:           #008bf9;
$primary_text:	    white;
$primary_hover:     black;

$secondary:         #fecb00;
$secondary_text:    black;
$secondary_hover:   black;

$text:              black;
$background:        white;
$shadow:            black;

$wallpaper-color:   rgb(204,204,204);
$wallpaper-image:   url(/assets/gfx/backgrounds/solid.png);

$alert:             #f00;
$notice:            #0f0;

$footer_border:     white;
$footer:            black;
$footer_shadow:     white;