// This is the holiday color theme.
//
// This file only defines the base colors used in the theme.
// The actual theme file defines stuff like opacity, where
// colors are used, etc.
//
// The 'image' variables are code sent to the CSS 'filter'
// property. They assume that the base color of the image is
// red. So for example 'hue-rotate(240deg)' would turn the
// image blue.
//
// // // // // // // // //
// 
// Copyright 2014 Simplare
// 
// This code is part of the Stoffi Music Player Project.
// Visit our website at: stoffiplayer.com
//
// This code is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version
// 3 of the License, or (at your option) any later version.
//
// See stoffiplayer.com/license for more information.

$primary:           #A83C39;
$primary_text:	    white;
$primary_hover:     black;
$primary_image:     grayscale(100%) contrast(200%) invert(100%);

$secondary:         #5CCA64;
$secondary_text:    black;
$secondary_hover:   black;
$secondary_image:   grayscale(100%) contrast(200%);

$tertiary:          #5CCA64;
$tertiary_text:     white;
$tertiary_hover:    black;
$tertiary_image:    grayscale(100%) contrast(200%);

$text:              black;
$background:        white;
$image:             hue-rotate(206.5deg) brightness(148.8%); //TODO
$hover:             black;

$shadow:            black;
$shadow_text:       white;
$shadow_hover:      white;

$wallpaper-color:   #9fc197;
$wallpaper-image:   url(/assets/gfx/backgrounds/christmas.gif);

$alert:             #f00;
$notice:            #0f0;

$footer_border:     white;
$footer:            black;
$footer_shadow:     white;