// This is Maggies theme.

$primary:           red;
$primary_text:	    white;
$primary_hover:     black;
$primary_image:     grayscale(100%) contrast(200%) invert(100%);

$secondary:         deeppink;
$secondary_text:    black;
$secondary_hover:   black;
$secondary_image:   grayscale(100%) contrast(200%);

$tertiary:          lime;
$tertiary_text:     white;
$tertiary_hover:    black;
$tertiary_image:    grayscale(100%) contrast(200%);

$text:              springgreen;
$background:        white;
$image:             grayscale(100%) contrast(200%);
$hover:             black;

$shadow:            black;
$shadow_text:       white;
$shadow_hover:      white;

$wallpaper-color:   yellowgreen;
$wallpaper-image:   none;

$alert:             #f00;
$notice:            #0f0;

$footer_border:     olive;
$footer:            black;
$footer_shadow:     white;