a.button, ul.buttons li a
{
	text-align: left;
	margin: 0.4em 0;
	padding: 0.4em 1em;
	display: inline-block;
	//border-radius: 3px;
	
	img, span, div
	{
		display: inline-block;
		vertical-align: middle;
	}
	img
	{
		padding-right: 0.4em;
		margin-right: 0.3em;
	}
	
	h2, p
	{
		margin: 0;
	}
	
	h2
	{
		font-size: 1.4em;
		padding: 0 0 0.5em;
		font-style: normal;
	}
	
	p
	{
		font-size: 0.8em;
		span
		{
			padding-left: 1em;
			&:first-of-type { padding-left: 0; }
		}
	}
}

a.button
{
	padding: .3em 2em .4em;
	margin-right: 2em;
}

ul.buttons li a
{
	img { padding-right: 1em; margin-right: .5em; }
}