.dropdown
{
	display: inline-block;
	.dropdown-menu
	{
		position: absolute;
		margin: 0;
		text-align: left;
		padding: 0;
		z-index: 5001;
		text-transform: lowercase;
		list-style-type: none;
		overflow: hidden;
		display: none;
		
		img { margin: 0; }
		
		li
		{
			font-style: normal;
			font-size: 0.9em;
			margin: 0;
			padding: 0;
			a
			{
				padding: 0.8em 1em;
				display: block;
			}
			
			div.extended
			{
				margin-left: 40px;
				
				@media #{$small}
				{
					display: none;
				}
				
				img
				{
					position: absolute;
					left: 10px;
					top: 7px;
				}
				h1, h2 { margin: 0; }
				h1 { font-size: 1em; font-weight: bold; }
				h2 { font-size: 1em; font-style: normal; }
			}
			
			div.minimal
			{
				display: none;
				
				@media #{$small}
				{
					display: block;
				}
			}
		}
		
		.separator
		{
			margin: 0.5em 1em;
			display: block;
			width: initial;
		}
	}
	
	&:hover .dropdown-menu
	{
		display: block;
	}
	
	&.shadow .dropdown-menu
	{
		font-size: 0.7em;
		padding: 0.2em 0.2em 0.5em;
		min-width: 13em;
	}
}