.editable
{
	input[type='text']
	{
		font-family: verdana, sans-serif;
		font-size: 1em;
		border: 1px solid transparent;
	}
	
	&:not(:hover) .edit-icon { display: none; }
	&.disabled .edit-icon { display: none; }
	
	&:not(.disabled)
	{
		input[type='text']:disabled:hover { cursor: pointer; }
		&:hover { cursor: pointer; }
	}
	
	&.active
	{
		input[type='text']
		{
			border: 1px solid rgba(black, 0.6);
		}
		.input { display: initial; }
		.text { display: none; }
	}
	
	.input { display: none; }
	.text
	{
		border: 1px solid transparent;
		padding: .19em .1em .24em;
	}
}