ul.grid, ul.list
{
	span { display: inline-block; }
	li.item
	{
		.overlay, .action-bar
		{
			position: absolute;
			right: 0;
		}
		
		.overlay
		{
			span
			{
				padding: 0.2em;
				&.description { display: block; }
				&.title { font-weight: bold; }
			}
		}
		
		.action-bar .action
		{
			display: inline-block;
			a { display: inline-block; }
			
			&.shadow.dropdown .dropdown-menu a
			{
				padding: .8em .5em;
				display: block;
			}
		}
		
		span.type
		{
			text-transform: uppercase;
			font-size: 0.5em;
			padding: 0.3em 0.8em;
			opacity: 0.8;
		}
		
		@media #{$small}
		{
			font-size: 0.8em;
			.dropdown-menu { font-size: 1em; }
		}
		
		[data-list-mode] { display: none; }
	}

	[data-list-empty]
	{
	  text-align: center;
	  text-transform: uppercase;
	  font-weight: bold;
	  font-size: 1.2em;
	  padding: 3em 0;
	  letter-spacing: 0.5em;
	}
}

ul.grid
{
	li.item
	{
		display: inline-block;
		position: relative;
		margin-right: .5em;
		margin-bottom: .5em;
		-webkit-touch-callout: none !important;
		
		[data-list-mode='grid'] { display: initial; }
		
		span.type
		{
			margin-left: 1em;
			position: absolute;
			right: 1em;
			bottom: 1em;
		}
		
		.overlay, .action-bar
		{
			left: 0;
		}
		
		.overlay
		{
			bottom: 0;
			padding: 1.5em 0.5em 0.5em;
			
			span.description { font-size: 0.8em; }
		}
		
		.action-bar
		{
			display: none;
			top: 0;
			font-size: 1.5em;
			padding: 0 0 3em;
			
			.action
			{
				display: inline-block;
				position: absolute;
				a
				{
					display: inline-block;
					padding: 0.5em 1em;
				}
			}
			
			.remove { right: 0; }
			.add { left: 0; }
		}
		
		img
		{
			width: 210px;
			height: 210px;
			
			@media #{$medium}
			{
				width: 150px;
				height: 150px;
			}
			
			@media #{$small}
			{
				width: 110px;
				height: 110px;
			}
		}
		
	
		&:hover .action-bar
		{
			display: block;
		}
	}
}

ul.list
{
	li.item
	{
		position: relative;
		margin: 1em 0;
		
		[data-list-mode='list'] { display: initial; }
		
		.overlay, .action-bar { left: 70px; }
		
		.overlay
		{
			top: 0;
			padding: 0;
			
			span.title { font-size: 1.1em; }
			span.description
			{
				font-size: 1em;
				a:hover { text-decoration: underline; }
			}
		}
		
		.action-bar
		{
			display: block;
			bottom: 0.3em;
			padding: 0;
			
			.action
			{
				display: inline-block;
				text-transform: uppercase;
				font-size: 0.7em;
				a
				{
					display: inline-block;
					padding: 1em 2em 0.5em 0.3em;
				}
			}
			
			span.type
			{
				margin: 0 2em 0 0.3em;
				text-align: center;
				min-width: 7em;
				display: inline-block;
			}
		}
		
		img
		{
			width: 64px;
			height: 64px;
		}
	
		&[data-list-add]
		{
			opacity: 0.5;
			&:hover { cursor: pointer; opacity: 1; }
			span.title
			{
			  font-size: 1.5em;
			  line-height: 60px;
			  padding: 0 .8em;
			  font-weight: normal;
			}
		}
	}
	
	&.mini
	{
		.item {
			.action-bar { display: none; }
			.overlay { left: 45px; }
			img
			{
				width: 40px;
				height: 40px;
			}
		}
	}
}