.alert, .notice
{
	background-position: 8px 5px;
	background-repeat: no-repeat;
	margin: 1em 0;
	padding: 11px 40px;
	h2
	{
		margin: 0;
		font-style: normal;
		font-weight: bold;
	}
	
	&.large
	{
		background-position: 8px 5px;
		padding: 7px 38px;
		p { margin: .5em 0; }
	}
}