.alert, .notice
{
	background-position: 15px 10px;
	background-repeat: no-repeat;
	font-size: 12pt;
	margin: 10px 0px;
	padding: 10px 50px;
	h2
	{
		margin: 0;
		font-style: normal;
		font-weight: bold;
	}
	p { margin: 5px 0px; }
	&.large { background-position: 15px 18px; }
}