#paginator
{
	text-align: center;
	margin: 3em 0 2em;
	@media #{$small}
	{
		font-size: .5em;
		span[data-bonus] { display: none; }
	}
	
	.pagination
	{
		display: inline-block;
		padding: .5em 1em .5em 0;
		
		span
		{
			padding: .4em 1em .5em 1.5em;
			white-space: initial;
			
			&.prev { border: none; padding-left: 1em; }
			a
			{
				&:hover { text-decoration: none; }
			}
		}
	}
}