.slideshow
{
	margin: 1em;
	text-align: center;
	
	#slide-background
	{
		display: inline-block;	
	}
	
	.slide
	{
		
		img
		{
			margin-bottom: -3px;
		}
		
		.text
		{
			display: inline-block;
			position: relative;
			text-align: left;
			vertical-align: top;
			padding: 0 1em;
			
			width: 400px;
			height: 150px;
			
			.controls
			{
				position: absolute;
				bottom: 0;
				
				a
				{
					padding: 0.5em 1em 0.5em 0;
					display: inline-block;
				}
			}
			
			.more
			{
				position: absolute;
				bottom: 0;
				right: 0;
				padding: 0.5em 1em;
			}
		}
	}
	
	
	@media #{$medium}
	{
		.slide
		{
			img
			{
				width: 300px;
			}
			
			.text
			{
				font-size: 0.7em;
				width: 400px;
				height: 90px;
				
				.controls
				{
					font-size: 1.2em;
				}
			}
		}
	}
	
			
	@media #{$small}
	{
		position: relative;
		margin: 0;
		
		#slide-background
		{
			text-align: left;
			display: block;
		}
		
		.slide
		{
			
			img
			{
				margin-bottom: 0;
				width: 100%;
			}
			
			.text
			{
				display: block;
				font-size: 1em;
				width: auto;
				height: auto;
			
				.controls
				{
					position: initial;
				}
				
				.more
				{
					position: initial;
					padding: 1em 0;
					display: block;
				}
			}
		}
	}
}