article.tabbed
{
	position: relative;
	min-height: 30em; // hack, is there a better way?
		
	@media #{$small}
	{
		padding: 0;
	}
	
	section[data-content]
	{
		padding-left: 2em;
		display: none;
		
		&.active
		{
			display: block;
		}
		
		@media #{$small}
		{
			display: block;
			width: 100%;
		}
	}
	
	@media #{$small} { .tabs { display: none; } }
	
	.tabs:not(aside)
	{
		width: 100%;
		.tab:hover:not(.active) { cursor: pointer; }
	}
	
	aside.tabs
	{
		height: 100%;
		position: absolute;
		overflow: hidden;
		
		section
		{
			padding: 1em 0 0 1em;
			
			h2
			{
				text-transform: uppercase;
				font-size: 0.8em;
				font-style: normal;
				font-weight: bold;
				text-align: center;
				margin: 3em 0 0.8em;
			}
			
			div.tab
			{
				padding: 1em;
			}
		}
	}
	
	section.tabs
	{
		margin: 0 0 1em;
		padding: 1em 1em 0;
		overflow: hidden;
		
		span.tab
		{
			padding: 0.8em 1.1em;
			display: inline-block;
		}
	}
	
	.tab:hover { cursor: pointer; }
}