$color1: lighten(#FECB00, 10%);
$color2: lighten(#005293, 20%);

footer
{
	border-top: 2px solid rgba(255,255,255,0.5);
	box-shadow: inset 0px 5px 10px rgba(0,0,0,0.1);
	background: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.2);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
	
	.copyright
	{
		a
		{
			color: rgba(0,0,0,0.2);
			text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
			&:hover
			{
				color: rgba(0,0,0,0.3);
			}
		}
	}
	
	.links
	{
		a
		{
			color: rgba(0,0,0,0.4);
			text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
			&:hover
			{
				color: rgba(0,0,0,0.6);
			}
		}
	}
}