@import 'colors';

#paginator
{
	text-align: center;
	color: $grayed_primary;
	margin-bottom: 15px;
	.pagination
	{
		display: inline-block;
		border: 1px solid $grayed_primary;
		padding: 5px 10px 5px 0px;
		span
		{
			padding: 5px 10px 5px 14px;
			border-left: 1px solid $grayed_primary;
			&.prev { border: none; padding-left: 14px; }
			a
			{
				color: $primary;
				&:hover { text-decoration: none; }
			}
		}
	}	
}