$color1: lighten(#FECB00, 10%);
$color2: lighten(#005293, 20%);

form
{
	.message
	{
		border-bottom: 1px solid rgba(0,0,0,0.2);
		padding-bottom: 15px;
		margin-bottom: 20px;
	}
	
	.empty
	{
		padding: 5px 0px;
		margin: 0;
		font-size: 12pt;
		font-style: italic;
		color: rgba(0,0,0,0.5);
	}
	
	.separator
	{
		border-bottom: 1px solid rgba(0,0,0,0.2);
		padding-bottom: 15px;
		margin-bottom: 20px;
	}
	
	label
	{
		font-size: 16pt;
		font-style: italic;
		display: block;
		margin-top: 10px;
	}
	
	input, textarea
	{
		padding: 5px 10px;
		background: white;
		border: 1px solid black;
	}
		
	input[type="checkbox"]
	{
		border: 0;
		padding: 0;
	}
	
	.note
	{
		font-size: 8pt;
		padding-left: 10px;
	}
	
	.red.note { color: rgba(150,0,0,0.8); }
	
	p.notice
	{
		font-style: italic;
		margin: 0;
		padding: 0px 0px 10px;
	}

	.field_with_errors
	{
		input
		{
			border-color: rgba(150,0,0,0.5);
			background: rgba(255,200,200,0.1);
		}
	}
	
	.radio
	{
		.choice
		{
			display: inline-block;
			text-align: center;
			margin-right: 20px;
			margin-top: 5px;
			.value
			{
				display: block;
				img { display: block; }
			}
			.label
			{
				display: block;
				font-size: 8pt;
				color: rgba(0,0,0,0.4);
			}
			.control
			{
				display: block;
				input { margin-top: 5px; }
			}
		}
	}
	
	.radio.text
	{
		.choice
		{
			text-align: left;
			.label
			{
				padding-left: 24px;
			}
			.control
			{
				display: inline-block;
				line-height: 20px;
				vertical-align: middle;
				input { margin: 0; }
			}
			.value
			{
				display: inline-block;
				line-height: 20px;
			}
		}
	}
	
	.checkbar
	{
		margin: 5px 0px;
		vertical-align: middle;
		img
		{
			vertical-align: middle;
		}
	}
	
	.bottom
	{
		border-top: 1px solid rgba(0,0,0,0.2);
		padding-top: 15px;
		margin-top: 40px;
	}
}


.xui-autocomplete-loading
{
	background-image: url('/assets/gfx/ajax_loading_small_white.gif') !important;
	background-position: center right !important;
	background-repeat: no-repeat !important;
}

body
{
    .ui-autocomplete
    {
        text-align: left;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        padding: 0 30px 0 0;
        background: white;
        
        .ui-menu-item
        {
            font-style: normal;
            color: black;
            padding: 5px 15px;
            
            &.ui-state-focus
            {
                background: lightgrey;
                border: 0;
                margin: 0;
            }
        }
    }   
}

.dialog
{
	form
	{
		margin-top: 10px;
		label
		{
			text-transform: lowercase;
		}
		
		.bottom
		{
			padding: 20px 0px 0px 20px;
		}
		
		input
		{
			border-bottom: 1px solid rgba(255,255,255,0.2);
			border-right: 1px solid rgba(255,255,255,0.2);
			border-top: 1px solid rgba(0,0,0,0.2);
			border-left: 1px solid rgba(0,0,0,0.2);
			background: transparent;
			&:-moz-placeholder { color: rgba(0,0,0,0.4); text-transform: lowercase; }
			&::-o-placeholder { color: rgba(0,0,0,0.4); text-transform: lowercase; }
			&:-ms-input-placeholder { color: rgba(0,0,0,0.4); text-transform: lowercase; }
			&::-webkit-input-placeholder { color: rgba(0,0,0,0.4); text-transform: lowercase; }
		}
		
		a:hover { color: rgba(0,0,0,0.8); }
		img { vertical-align: middle; }
		
		.button
		{
			text-transform: uppercase;
			cursor: pointer;
			margin: 0px 0px 10px 0px;
		}
		
		#recaptcha_area
		{
			margin: 20px auto 0px auto;
			text-shadow: none;
			text-transform: none;
		}
		
		.devise-links
		{
			padding-top: 5px;
		}
	}
}

.notice, .alert
{
	padding: 30px 0px 20px;
}