@import 'colors';

#search-pane
{
    .large-logo
    {
        margin: 15px;
    }
    .small-logo
    {
        margin: 0px 10px 5px -47px;
        vertical-align: middle;
    }
	.search-form
	{
	    height: 38px;
		margin: 5px 10px;
		text-align: center;
		input
		{
		    height: 32px;
			width: 500px;
			padding: 0px 15px;
			font-size: 12pt;
		}
	}
	
	.loading
	{
	    margin-top: 50px;
	}
	
	.stats
	{
	    margin: 0px 0px 0px 170px;
	    color: $grayed_primary;
	}
	
	#result-list
	{
	    margin-top: 50px;
	    .exact
	    {
	        .image
	        {
	            margin-left: 100px;
	            height: 120px;
	            width: 120px;
	            img
	            {
	                clip: rect(0px,120px,120px,0px);
	            }
	        }
	        .banner
	        {
	            height: 120px;
                display: table-cell;
                vertical-align: bottom;
                padding-left: 230px;
                
                h3
                {
                    font-size: 24pt;
                }
                
                .statistics
                {
                    color: rgba(0,75,150,0.5);
                    font-style: italic;
                    font-size: 12pt;
                    .key { text-decoration: underline; color: black; }
                }
                
                .tabs
                {
                    .tab
                    {
                        color: black;
                        text-decoration: none;
                        padding: 0px 10px 0px;
                        font-style: normal;
                        margin: 20px 10px 0px;
                        display: inline-block;
                        text-transform: uppercase;
                        font-size: 10pt;
                        
                        &.active
                        {
                            border-bottom: 1px solid black;
                        }
                        &:hover
                        {
                            border-bottom: 1px solid gray;
                        }
                    }
                }
            }
            
            .content
            {
                padding: 5px 0px;
                margin: 5px 0px 15px;
                min-height: 100px;
            }
            
            dl
            {
                margin-bottom: 10px;
                dt, dd
                {
                    float: left;
                    padding: 5px 0px;
                    margin: 0;
                    font-size: 10pt;
                    font-style: normal;
                }
                dt
                {
                    clear: left;
                    width: 150px;
                    color: rgba(0,75,150,0.5);
                }
                dd
                {
                    float: left;
                }
            }
            p
            {
                font-style: normal;
                font-size: 10pt;
                color: black;
            }
        }
        
        li
        {
            margin: 25px 0px;
            min-height: 64px;
            .image
            {
	            position: absolute;
	            border: 1px solid black;
	            box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	            height: 64px;
	            width: 64px;
                img
                {
	                position: absolute;
	                clip: rect(0px,64px,64px,0px);
                }
            }
            
            h3, p
            {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            
            h3
            {
                font-size: 12pt;
                font-weight: bold;
                font-style: normal;
                color: black;
                margin: 0;
            }
            
            p
            {
                margin: 3px 0px;
                font-size: 10pt;
                color: rgba(0,75,150,0.5);
                font-style: italic;
                
                .key { text-decoration: underline; color: black; }
                a { color: $grayed_primary; }
            }
            
            a.button
            {
                font-style: normal;
                color: black;
                font-size: 8pt;
                padding: 0px 3px;
                margin: 2px 5px 2px 0px;
                &:hover { text-decoration: none; }
            }
            
            .content
            {
                margin-left: 74px;
            }
            
            &.one-line
            {
                margin: 10px 0px;
                .content
                {
                    margin-left: 0;
                    h3
                    {
                        overflow: visible;
                        display: inline-block;
                        font-size: 10pt;
                    }
                    
                    span
                    {
                        font-size: 10pt;
                        color: $grayed_primary;
                        font-style: normal;
                        a { color: $grayed_primary; }
                    }
                }
                
            }
        }
	}
	
	.card
	{
		margin: -10px 10px;
		padding: 0px;
		min-height: 90px;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5), inset 1px 4px 10px -5px rgba(0, 0, 0, 0.5);
		img
		{
			float: left;
			margin: 0px 10px 0px 0px;
			height: 90px;
			box-shadow: inset 1px 4px 10px -5px rgba(0, 0, 0, 0.5);
		}
		h2
		{
			margin: 0;
			padding: 0;
		}
		.buttons
		{
			float: right;
		}
		.meta
		{
			display: inline-block;
			p
			{
				margin: 0px;
				strong
				{
					color: rgba(0,0,0,0.3);
					text-transform: uppercase;
					font-size: 8pt;
					min-width: 80px;
					display: inline-block;
				}
			}
		}
		.songs
		{
			display: inline-block;
		}
	}
}