<head>
	<title>Stoffi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "realtime" %>
	<%= csrf_meta_tags %>
</head>