<% resource = nil unless defined? resource %>

<% if any_errors? resource %>
	<div class="alert">
		<%= pretty_errors resource %>
	</div>
<% end %>

<% if flash[:notice].present? %>
	<div class="notice"><%=h flash[:notice] %></div>
<% end %>