<% if @song.duplicates.size > 0 %>
	<section>
		<h1><%= t 'duplicates.header' %></h1>
		<ul class='list' data-list='songs'>
			<%= render partial: 'songs/song', collection: @song.duplicates, locals: {
				delete: { method: :patch, data: 'song[archetype]=', 
					title: t('duplicates.unmark.description', archetype: @song),
					confirm: '' }
			} %>
		</ul>
	</section>
<% end %>