<% @song.sources.where(name: :youtube).each do |source| %>
	<section>
		<div class='video-border'>
			<div class='video-box'>
				<iframe class="video" type="text/html" src="http://www.youtube.com/embed/<%=source.foreign_id%>?wmode=transparent">
				</iframe>
			</div>
		</div>
	</section>
<% end %>