// This is the default theme.
//
// This file contains the definition of how and where
// the colors (defined in the palette files) are used.
//
// This file only defines properties related to colors.
// It does not define margins, paddings, font-sizes, etc.
//
// // // // // // // // //
// 
// Copyright 2014 Simplare
// 
// This code is part of the Stoffi Music Player Project.
// Visit our website at: stoffiplayer.com
//
// This code is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version
// 3 of the License, or (at your option) any later version.
//
// See stoffiplayer.com/license for more information.

body
{
	background-color: $wallpaper-color;
	background-image: $wallpaper-image;
	color: rgba($text, 0.8);
}

a
{
	color: $primary;
	&:not([href]) { color: rgba($text, 0.8); }
}


img.featured
{
	@include prefix(filter, $image);
}

header
{
	box-shadow: 0px 3px 5px transparentize($shadow, 0.8);
	background: $primary;
	nav
	{
		.separator
		{
			border-right: 1px solid transparentize($primary_text, 0.5);
		}
		
		.active
		{
			background: transparentize($primary_hover, 0.8);
		}
		
		a
		{
			color: transparentize($primary_text, 0.2);
			&:hover
			{
				background: transparentize($primary_hover, 0.9);
				color: transparentize($primary_text, 0.1);
			}
		}
	}
}

main
{
	article
	{
		background: $background;
		box-shadow: 0px 0px 10px transparentize($shadow, 0.5);
		
		h1, h2
		{
			color: rgba($text, 0.6);
		}
		
		.timestamp
		{
			color: rgba($text, 0.5);
		}
	}
	
	aside
	{
		h2 { color: rgba($text, 0.6); }
		li
		{
			color: rgba($text, 0.5);
		}
	}
}

aside.sidebar section, .ingraved
{
	background: none;
	box-shadow: inset 0px 0px 50px transparentize($shadow, 0.9);
	border-left: 1px solid transparentize($shadow, 0.8);
	border-top: 1px solid transparentize($shadow, 0.8);
	border-right: 1px solid transparentize(invert($shadow), 0.8);
	border-bottom: 1px solid transparentize(invert($shadow), 0.8);
	color: transparentize($shadow, 0.5);
	h2
	{
		color: transparentize($shadow, 0.6);
		text-shadow: 1px 1px 1px transparentize(invert($shadow) ,0.7);
	}
}

footer
{
	border-top: 2px solid transparentize($footer_border, 0.6);
	box-shadow: inset 0px 5px 10px transparentize($shadow, 0.9);
	background: transparentize($footer, 0.95);
	color: transparentize($footer, 0.8);
	text-shadow: 1px 1px 1px transparentize($footer_shadow,0.7);
	a
	{
		text-decoration: none;
		color: transparentize($footer, 0.7);
		&:hover { color: transparentize($footer, 0.5); }
	}
	
	nav a
	{
		@media #{$small}
		{
			background: none;
			box-shadow: inset 0px 0px 50px transparentize($shadow, 0.9);
			border-left: 1px solid transparentize($shadow, 0.8);
			border-top: 1px solid transparentize($shadow, 0.8);
			border-right: 1px solid transparentize(invert($shadow), 0.8);
			border-bottom: 1px solid transparentize(invert($shadow), 0.8);
			color: transparentize($shadow, 0.5);
		}
	}
}

.dropdown
{
	.dropdown-menu
	{
		background: $primary;
		box-shadow: 2px 2px 5px transparentize($shadow, 0.5);
		li
		{
			a
			{
				color: transparentize($primary_text, 0.1);
				&:hover { background: none; }
			}
			a[href]:hover
			{
				background: transparentize($primary_hover, 0.9);
				color: transparentize($primary_text, 0.1);
			}
		}
		
		.separator
		{
			border-bottom: 1px solid transparentize($primary_text, 0.5);
		}
	}
}


a.button, ul.buttons li a
{
	@include button-colors($primary, $primary_text);
	
	&.secondary
	{
		@include button-colors($secondary, $secondary_text);
	}
}

ul.vertical li a
{
	color: transparentize($shadow, 0.5);
	
	&:hover
	{
		color: $shadow;
	}
}

#news .screenshots img
{
	border: 1px solid rgba($text, 0.5);
	&:hover {
		border: 1px solid $text;
	}
}

#download .button
{
	@include button-colors($tertiary, $tertiary_text);
}

form
{
	label { color: rgba($text, 0.5); }
}

#awards
{
	background: $secondary;
	color: $secondary_text;
}

.divider
{
	border-bottom: 1px solid rgba($text, 0.2);
}

.notice
{
	$darken: 50%;
	color: darken(rgba($notice, 0.5), $darken);
	background-image: url(/assets/gfx/notice.png);
	background-color: lighten(rgba($notice, 0.5), 20%);
	border: 1px solid darken(rgba($notice, 0.5), $darken);
	h2 { color: darken(rgba($notice, 0.5), $darken); }
}

.alert
{
	$darken: 30%;
	color: darken(rgba($alert, 0.5), $darken);
	background-color: lighten(rgba($alert, 0.5), 40%);
	background-image: url(/assets/gfx/error.png);
	border: 1px solid darken(rgba($alert, 0.5), $darken);
	h2 { color: darken(rgba($alert, 0.5), $darken); }
}

h2.line-behind
{
	&:before, &:after
	{
		border-top: 1px solid rgba($text, 0.2);
	}
}

#tour
{
	#title, #text { color: rgba($text, 0.5); }
	.handle:hover
	{
		background: rgba($shadow, 0.1);	
	}
	
	#text-wrap
	{
		border-top: 1px solid rgba($shadow, 0.2);
	}
}

.slideshow #slide-background
{
	background: $secondary;
	box-shadow: 0px 0px 10px rgba($shadow, 0.5);
	color: $secondary_text;
	
	.slide
	{
		.controls a
		{
			color: rgba($secondary_text,0.1);
			text-shadow: 1px 1px 1px rgba(invert($secondary_text),0.1);
		
			&:hover
			{
				color: rgba($secondary_text,0.3);
			}
		
			&.active
			{
				color: rgba($secondary_text,0.6);
				&:hover { color: rgba($secondary_text,0.6); }
			}
		}
		
		a.more
		{
			color: rgba($secondary_text,0.5);
			text-shadow: 1px 1px 1px rgba(invert($secondary_text),0.1);
			&:hover { color: rgba($secondary_text,0.7); }
		}	
	}
}

@media #{$tiny}
{
	.social-buttons { background: $background; }
}

#highlights
{	
	#donate-button a
	{
		@include button-colors($secondary, $secondary_text);
	}
	
	.large
	{
		border-bottom: 1px solid rgba($text, 0.2);
	}
	
	.small
	{
		div
		{
			h2 { color:rgba($text,0.5); }
			p { color:rgba($text,0.4); }
		}
	}
}

#quotes
{
	@media #{$tiny}
	{
		background: $background;
		box-shadow: 0px 0px 10px transparentize($shadow, 0.5);
		color: rgba($text, 0.6);
		
		h2
		{
			color: rgba($text, 0.6);
		}
	}
	
	.quote
	{
		.quotemark
		{
			text-shadow: 1px 1px 1px rgba(invert($shadow),0.3);
			color: rgba($shadow, 0.3);
		}
		p a
		{
			color: rgba($shadow, 0.3);
			&:hover { color: rgba($shadow, 0.8); }	
		}
	}
}

#future
{
	h1 a { color: rgba($text, 0.6); }
	ul li p { color: rgba($text, 0.6); }
}

#old
{
	h1 { color: rgba($text, 0.8); }
	#browsers a:hover .txt { color: $text; }
	.large.browser .txt
	{
		color: rgba($text, 0.8);
	}
	.small.browser .txt
	{
		color: rgba($text, 0.6);
	}
	#skip
	{
		color: rgba($text, 0.4);
		&:hover { color: $text; }
	}
}