<% team = ["Maggie Man", "Hylton Clarke", "Tianwen Zhang", "Tom Sokolinski", "Fredrik Gadnell", "Carl Carenvall", "Mark Tibblin", "Francesco Roberto", "Ryan Zeigler", "Fredrik Weinestad", "Balog Tamás"] %>

<article id='credits'>
	<section class="small">
		<h1><%=t "about.team.title" %></h1>
		<% team.each do |mate| %>
			<div>
				<h2><%=mate%></h2>
				<p><%=t "about.team.#{mate.parameterize('_')}"%></p>
			</div>
		<% end %>
	</section>
</article>