<article id='future'>
	<section>
		<h1><a name="future"><%=t "about.future.title" %></a></h1>
		<ul>
			<% t("about.future.list").split('|').each do |item| %>
				<li><p><%=item %></p></li>
			<% end %>
		</ul>
	</section>
</article>