<% one_liner = song.images.empty? %>

<li class='clickable song <%=' one-line' if one_liner %>' data-type='hit'>
	<% unless one_liner %>
		<div class='image'>
			<%= image_tag song.image, alt: song.title %>
		</div>
	<% end %>
	
	<div class='content'>
		<% if one_liner %>
			<a class='button'>&#9654;</a>
		<% end %>
		
		<h3><%= song.display %></h3>
		
	 	<% if song.artists.top? %>
			<p>
				<%==t("songs.description.#{one_liner ? 'short' : 'long'}", artists: link_to_association(song.artists))%>
			</p>
		<% end %>
		
		<% unless one_liner %>
			<p><a class='button'>&#9654;</a></p>
		<% end %>
		
	</div>
</li>